@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");
@import "tailwindcss";

@layer base {
  /* Box sizing rules */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  /* Prevent font size inflation */
  html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }

  /* Remove default margin in favour of better control in authored CSS */
  body,
  h1,
  h2,
  h3,
  h4,
  p,
  figure,
  blockquote,
  dl,
  dd {
    margin-block-end: 0;
  }

  /* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
  ul[role="list"],
  ol[role="list"] {
    list-style: none;
  }

  /* Set core body defaults */
  body {
    line-height: 1.5;
    min-height: 100vh;
    font-family: "Rubik", sans-serif;
    margin: 0;
    /* font-size: 1.125rem; */

    /* letter-spacing: -0.035em; */
    /* color: var(--Wenge-Brown); */
  }

  /* Set shorter line heights on headings and interactive elements */
  h1,
  h2,
  h3,
  h4,
  button,
  input,
  label {
    line-height: 1.1;
  }

  /* Balance text wrapping on headings */
  h1,
  h2,
  h3,
  h4 {
    text-wrap: balance;
  }

  /* A elements that don't have a class get default styles */
  a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
  }

  /* Make images easier to work with */
  img,
  picture {
    max-width: 100%;
    display: block;
  }

  /* Inherit fonts for inputs and buttons */
  input,
  button,
  textarea,
  select {
    font-family: inherit;
    font-size: inherit;
  }

  /* Make sure textareas without a rows attribute are not tiny */
  textarea:not([rows]) {
    min-height: 10em;
  }

  /* Anything that has been anchored to should have extra scroll margin */
  :target {
    scroll-margin-block: 5ex;
  }

  summary {
    list-style: none;
  }

  :root {
    /* ### Primary */

    --Blue-600: hsl(231, 69%, 60%);
    --Red-400: hsl(0, 94%, 66%);

    /* ### Neutral */

    --Grey-50: hsl(0, 0%, 90%);
    --Blue-950: hsl(229, 31%, 21%);

    /*Clamping/Scaling Typo scale */

    --clamp-font-20: clamp(1.25rem, 2vw, 1.5rem); /* 20px → scales to 24px */
    --clamp-font-24: clamp(1.5rem, 2.5vw, 1.875rem); /* 24px → scales to 30px */
    --clamp-font-30: clamp(1.875rem, 3vw, 2.25rem); /* 30px → scales to 36px */
    --clamp-font-36: clamp(2.25rem, 3.5vw, 2.75rem); /* 36px → scales to 44px */
    --clamp-font-44: clamp(2.75rem, 4vw, 3.25rem); /* 44px → scales to 52px */
    --clamp-font-52: clamp(3.25rem, 5vw, 3.875rem); /* 52px → scales to 62px */
    --clamp-font-62: clamp(3.875rem, 6vw, 4.625rem); /* 62px → scales to 74px */
    --clamp-font-74: clamp(4.625rem, 7vw, 5.375rem); /* 74px → scales to 86px */
    --clamp-font-86: clamp(5.375rem, 8vw, 6.125rem); /* 86px → scales to 98px */
    --clamp-font-98: clamp(6.125rem, 9vw, 7rem); /* 98px → scales to 112px */

    /* Clamp variations */
    --clamp-font-24-v2: clamp(
      1.5rem,
      2.5vw,
      2.75rem
    ); /* 24px → scales to 44px */
    --clamp-font-24-v3: clamp(1.5rem, 3vw, 3rem); /* 24px → scales to 48px */
  }
}

@layer components {
  .btn {
    @apply cursor-pointer rounded-sm;
  }

  .feature__tab {
    @apply relative;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;

      left: 0;

      width: 100%;
      height: 4px;
      background-color: var(--Red-400);

      opacity: 0;
      transform: scaleX(0);
      transform-origin: center;

      transition:
        transform 0.3s ease,
        opacity 0.3s ease;
    }
  }

  .feature__tab.active::after {
    transform: scaleX(0.9);
    opacity: 1;
  }

  .feature__panel.active {
    display: block;
  }

  @media (min-width: 48em) {
    .feature__tab.active::after {
      transform: scaleX(1);
    }
  }

  .feature__tab.active::after {
    @apply md:scale-x-[1];
  }

  .overlay {
    @apply fixed inset-0 z-[1] h-screen w-screen bg-[hsla(229,31%,21%,0.95)];
  }

  .no-scroll {
    overflow: hidden;
    height: 100vh; /* Optional: prevents some iOS scrolling issues */
  }

  .purple-bg {
    @apply absolute top-[17%] right-[-20%] z-[-1] h-[200px] w-full rounded-[300px_0_0_300px] bg-[hsl(231,69%,60%)];
  }

  .purple-bg--left {
    @apply absolute top-[9%] left-[-17%] z-[-1] h-[210px] w-full rounded-[0_250px_250px_0] bg-[hsl(231,69%,60%)];
  }

  .error-visual {
    background: var(--Red-400);
    padding: 2px;
  }
}

@theme {
  --breakpoint-xl: 90rem;
}

.feature__tab.active {
  color: var(--Blue-950);
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation: none !important;
    transition: none !important;
  }
}
